*{
	scroll-behavior: smooth;
}


.masthead {
height: 100vh;
min-height: 500px;
background-image: url("../img/IMG_20220321_175545.jpg");;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}

.intro{
	height:300px;
  background-color:#FFFFFF;
  text-align: center;
}

.nav-item a{
	color: white!important;
}
.dropdown-menu li a{
	color: black!important;
}

.iicons{
	font-size: 50px;
  margin: 20px;
  color: white;
  opacity: 0.7;
}
.iicons:hover {
   opacity: 1;
}

.navbar-nav li{
	padding:10px 20px ;
}
/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #0d6efd;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.7;
}

input[type=submit]:hover {
  opacity: 1;
}
